@import './src/assets/colors';
.title-component__title {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 50px;
  letter-spacing: 0.045em;
  color: $color3;
  &.mod--padding {
    padding-bottom: 20px;
  }
}
.title-component__subtitle {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 0.045em;
  color: $color3;
  padding-bottom: 20px;
}
.title-component__decoration {
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  .title-component__title {
    font-size: 50px;
    line-height: 67px;
    letter-spacing: 0.06em;

    &.mod--padding {
      padding-bottom: 30px;
    }
  }
  .title-component__subtitle {
    font-size: 40px;
    line-height: 53px;
    letter-spacing: 0.06em;
    padding-bottom: 30px;
  }
  .title-component__decoration {
    padding-bottom: 30px;
  }
}
