.title-component__title {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 67px;
  letter-spacing: 0.06em;
  color: #3f4042;
  padding-bottom: 30px;
}
.title-component__subtitle {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 53px;
  letter-spacing: 0.06em;
  color: #3f4042;
  padding-bottom: 30px;
  margin-top: -30px;
}
.title-component__decoration {
  padding-bottom: 30px;
}
