@import './src/assets/colors';

.content-container {
  position: relative;
  background: $color2;
  padding: 15px;
  display: grid;
  grid-template-columns: 100% 0%;
}

.content-container__image {
  display: none;
}

@media (min-width: 768px) {
  .content-container {
    padding: 30px;
  }
}

@media (min-width: 1024px) {
  .content-container {
    position: relative;

    height: 620px;
    background: $color2;
    padding: 30px;
    display: grid;
    grid-template-columns: 50% 25%;
  }

  .content-container__image {
    opacity: 0.5;
    display: inline-block;
    position: absolute;
    right: -280px;
    top: -240px;
  }
}
@media (min-width: 1200px) {
  .content-container__image {
    opacity: 1;
  }
}
