@import './src/assets/colors';
.content-component {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 147.6%;
  /* or 27px */
  letter-spacing: 0.06em;

  color: $color4;
  padding-bottom: 30px;
}
