@import './src/assets/colors';
.button-component {
  height: 40px;
  border: solid 2px $color5;
  position: relative;
  display: flex;
  padding: 0;
  margin: 0;
  cursor: pointer;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  transition: 150ms ease-out;
  background: transparent;

  &:focus {
    border: solid 2px $color6;
    outline: none;
  }

  &:hover {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
      0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    transition: 150ms ease-out;
  }
}

.button-component__content {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: $color3;
  padding: 8px 10px;
}

.button-component__arrow-container {
  width: 40px;
  height: 36px;
  background: $color5;
  position: relative;
  right: 0;
  top: 0;
}

@media (min-width: 768px) {
  .button-component {
    height: 64px;
  }
  .button-component__content {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.06em;
    padding: 15px 17px;
  }
  .button-component__arrow-container {
    width: 64px;
    height: 60px;
  }
}
