@import './src/assets/colors';

.menu-component__container {
  display: grid;
  height: 50px;
  grid-template-columns: 50px auto;
  grid-gap: 40px;
}

.menu-component__nav {
  grid-gap: 10px;
  display: flex;
}

button {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  display: flex;
  align-items: center;
  background: none;
  border: none;
  color: $color0;
  cursor: pointer;

  &:hover {
    color: $color5;
  }

  &:not(:last-child) {
    margin-right: 40px;
  }

  &:focus {
    color: $color4;
    outline: none;
  }

  &.mod--active {
    color: $color5;
    text-decoration: underline;
    font-weight: 800;
  }
}
