@import './src/assets/colors';
.result-one-row {
  width: 100%;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 40px 1fr;
  grid-gap: 30px;
  padding: 30px;

  &.mode--dark {
    background: $color7;
  }
  &.mode--light {
    background: $color8;
  }
}
.result-one-row__icon {
  height: 40px;
}

.result-one-row__content {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: $color3;
}
