<content-container>
  <div content-slot>
    <title-component title="ZASZYFRUJ" [decoration]="true"></title-component>
    <content-component>
      <p>
        Wpisz widomość do zaszyfrowania
      </p>
    </content-component>
    <input-component
      placeholder="Wpisz widomość do zaszyfrowania"
      (inputValueChange)="newValue($event)"
    ></input-component>
    <title-component subtitle="WYNIKI SZYFROWANIA"></title-component>
    <result-row-list [result]="decryptionItemList"></result-row-list>
  </div>
  <div image-slot>
    <img src="/assets/image/bg_image_decryption.png" />
  </div>
</content-container>
