.main-page__container {
  margin: 8px;
  display: grid;
  grid-gap: 18px;
  max-width: 1200px;
}

.main-page__router-outlet {
  display: none;
}
@media (min-width: 768px) {
  .main-page__container {
    margin: 30px;
    grid-gap: 30px;
  }
}
@media (min-width: 1024px) {
  .main-page__container {
    margin: 60px;
    grid-gap: 60px;
  }
}
@media (min-width: 1320px) {
  .main-page__container {
    margin: 60px auto;
  }
}
