/* You can add global styles to this file, and also import other style files */
*,
::before,
::after {
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  backface-visibility: hidden;
}

body {
  overflow-x: hidden;
}
